@import "tailwindcss";
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "@tailwindcss/forms" {
  strategy: "base"; /* only generate global styles; or */
  strategy: "class"; /* only generate classes */
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
